<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title>Pet Store</title>
<!-- Load AngularJS -->
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"
	type="text/javascript"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/addPetController.js"></script>
<link rel="stylesheet" type="text/css" href="css/table.css">
<style type="text/css">     
    select {
        width:452px;
    }
</style>
<head>
<body ng-app="PetStore" ng-controller="AddPetController">
	<script type="text/ng-template" id="/index.html">
    </script>
	<div align="right">
		<a href="/index.html">Home</a>
	</div>
	<div class="caption" align="center">Pet Inventory Maintenance</div>

	<h2>Add Pet</h2>

	<form ng-submit="submitPet()">
		<div>
			Pet Name : &nbsp; &nbsp; &nbsp;<input type="text"
				ng-model="form.petName" size="60" />
		</div>
		<div>
			Pet Category : <select ng-model="form.petCategory"
				ng-options="item.categoryName for item in petCategory track by item.categoryId">
				<option value="" label=""></option>
			</select>
		</div>
		<div>
			Pet Tag : &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<select
				ng-model="form.petTag"
				ng-options="item.tagName for item in petTag track by item.tagId">
				<option value="" label=""></option>
			</select>
		</div>
		<div>
			Pet PhotoUrls :<input type="text" ng-model="form.photoURLS" size="60" />
			</td>
		</div>
		<div>
			<input type="submit" value="Submit" />
		</div>
	</form>

</body>
</html>